= link_to item_path(item.id) do
  .all-item__box__photo
    = image_tag(item.images[0].image.url)
  %h3.all-item__box__body
    %p #{item.name}
    .all-item__box__body__num
      .all-item__box__body__num__price
        %p ¥ #{item.price}
      .all-item__box__body__num__likes
        = fa_icon "heart-o"
        %span 18
      %p.all-item__box__body__num__tax （税込）
      %p #{item.status}
