.container--mypage
  .container--mypage__content
    .container--mypage__content__icon
      = link_to "#", class: "container--mypage__content__icon__a" do
        =  image_tag "chara.jpg", class: "container--mypage__content__icon__a__img"
        %h2.container--mypage__content__icon__a__username UserName
        .container--mypage__content__icon__a__number
          評価
          %span 10
        .container--mypage__content__icon__a__number
          出品数
          %span 10
    .container--mypage__content__tab
      %ul
        %li.container--mypage__content__tab__list.container--mypage__content__tab__list--active<
          %h3 お知らせ
        %li.container--mypage__content__tab__list<
          %h3 やることリスト
      .container--mypage__content__tab__content
        %ul.container--mypage__content__tab__content__pane.container--mypage__content__tab__content__pane--active
          %li.container--mypage__content__tab__content__pane__list<
            =link_to "#", class: "container--mypage__content__tab__content__pane__list__a" do
              =image_tag "mercari_profile.png", class: "container--mypage__content__tab__content__pane__list__a__img"
              .container--mypage__content__tab__content__pane__list__body
                %p.container--mypage__content__tab__content__pane__list__body__text 事務局から個別メッセージ「ログイン通知」
                = fa_icon "clock-o", class: "container--mypage__content__tab__content__pane__list__body__icon"
                %span 30分前
              = fa_icon "arrow-right", class: "container--mypage__content__tab__content__pane__list__a__arrow"
          %li.container--mypage__content__tab__content__pane__list<
            =link_to "#", class: "container--mypage__content__tab__content__pane__list__a" do
              =image_tag "mercari_profile.png", class: "container--mypage__content__tab__content__pane__list__a__img"
              .container--mypage__content__tab__content__pane__list__body
                %p.container--mypage__content__tab__content__pane__list__body__text 事務局から個別メッセージ「ログイン通知」
                = fa_icon "clock-o", class: "container--mypage__content__tab__content__pane__list__body__icon"
                %span 30分前
              = fa_icon "arrow-right", class: "container--mypage__content__tab__content__pane__list__a__arrow"
          %li.container--mypage__content__tab__content__pane__list<
            =link_to "#", class: "container--mypage__content__tab__content__pane__list__a" do
              =image_tag "mercari_profile.png", class: "container--mypage__content__tab__content__pane__list__a__img"
              .container--mypage__content__tab__content__pane__list__body
                %p.container--mypage__content__tab__content__pane__list__body__text 事務局から個別メッセージ「ログイン通知」
                = fa_icon "clock-o", class: "container--mypage__content__tab__content__pane__list__body__icon"
                %span 30分前
              = fa_icon "arrow-right", class: "container--mypage__content__tab__content__pane__list__a__arrow"
          %li.container--mypage__content__tab__content__pane__list<
            =link_to "#", class: "container--mypage__content__tab__content__pane__list__a" do
              =image_tag "mercari_profile.png", class: "container--mypage__content__tab__content__pane__list__a__img"
              .container--mypage__content__tab__content__pane__list__body
                %p.container--mypage__content__tab__content__pane__list__body__text 事務局から個別メッセージ「ログイン通知」
                = fa_icon "clock-o", class: "container--mypage__content__tab__content__pane__list__body__icon"
                %span 30分前
              = fa_icon "arrow-right", class: "container--mypage__content__tab__content__pane__list__a__arrow"
          %li.container--mypage__content__tab__content__pane__list<
            =link_to "#", class: "container--mypage__content__tab__content__pane__list__a" do
              =image_tag "mercari_profile.png", class: "container--mypage__content__tab__content__pane__list__a__img"
              .container--mypage__content__tab__content__pane__list__body
                %p.container--mypage__content__tab__content__pane__list__body__text 事務局から個別メッセージ「ログイン通知」
                = fa_icon "clock-o", class: "container--mypage__content__tab__content__pane__list__body__icon"
                %span 30分前
              = fa_icon "arrow-right", class: "container--mypage__content__tab__content__pane__list__a__arrow"
          %li.container--mypage__content__tab__content__pane__list__go<
            =link_to "一覧を見る", "#", class: "container--mypage__content__tab__content__pane__list__go__a"




        %ul.container--mypage__content__tab__content__pane
          %li.container--mypage__content__tab__content__pane__list<
            =link_to "#", class: "container--mypage__content__tab__content__pane__list__a" do
              =image_tag "mercari_profile.png", class: "container--mypage__content__tab__content__pane__list__a__img"
              .container--mypage__content__tab__content__pane__list__body
                %p.container--mypage__content__tab__content__pane__list__body__text ヤルコトリスト
                = fa_icon "clock-o", class: "container--mypage__content__tab__content__pane__list__body__icon"
                %span 30分前
              = fa_icon "arrow-right", class: "container--mypage__content__tab__content__pane__list__a__arrow"
          %li.container--mypage__content__tab__content__pane__list__go<
            =link_to "一覧を見る", "#", class: "container--mypage__content__tab__content__pane__list__go__a"
    -#  
      .container--mypage__content__tab__trading
        %h2.container--mypage__content__tab__trading--head 購入した商品
        %ul
          %li.container--mypage__content__tab__list.container--mypage__content__tab__list--active<
            %h3 お知らせ
          %li.container--mypage__content__tab__list<
            %h3 やることリスト

  .container--mypage__side
    %ul
      %li.container--mypage__side__list<
        =link_to "#", class: "container--mypage__side__list__item" do
          マイページ
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          お知らせ
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          やることリスト
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          いいね！一覧
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          出品する
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          出品した商品-出品中
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          出品した商品-取引中
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          出品した商品-売却済み
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          出品した商品-取引中
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          出品した商品-過去の取引
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          ニュース一覧
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          評価一覧
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          ガイド
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
        =link_to "#", class: "container--mypage__side__list__item" do
          お問い合わせ
          =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      %h3.container--mypage__side__head メルペイ  
      =link_to "#", class: "container--mypage__side__list__item" do
        売上・振込申請
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to "#", class: "container--mypage__side__list__item" do
        ポイント
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      %h3.container--mypage__side__head 設定
      =link_to "#", class: "container--mypage__side__list__item" do
        プロフィール
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to "#", class: "container--mypage__side__list__item" do
        発送元・お届け先住所変更
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to "#", class: "container--mypage__side__list__item" do
        支払い方法
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to "#", class: "container--mypage__side__list__item" do
        メール/パスワード
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to "#", class: "container--mypage__side__list__item" do
        本人情報
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to "#", class: "container--mypage__side__list__item" do
        電話番号の確認
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"
      =link_to  destroy_user_session_path, method: "delete", class: "container--mypage__side__list__item" do
        ログアウト
        =fa_icon "arrow-right", class: "container--mypage__side__list__arrow"