.purchase--container
  .purchase__h2--container
    %h2.purchase__h2 購入内容の確認
  .purchase--item
    .purchase__inner
      %h3.purchase__inner--h3
        = image_tag @item.images[0].image.url, class: "purchase__inner--h3__img"
      %p.purchase__inner--p #{@item.name}
      %form
        .purchase__form--p
          ¥ #{@item.price}
          %span.purchase__form--span #{@item.postage}
        = button_tag class: "purchase__form--button" do
          ポイントはありません
        .purchase__form--p-sell-contain
          %p.purchase__form--p--sell.purchase__form--p--sell-l 支払い金額
          %p.purchase__form--p--sell.purchase__form--p--sell-r ¥ #{@item.price}
        = button_tag class: "purchase__form--button-red" do
          購入する
    .purchase__inner--user-info
      .purchase__inner--user-info__inner
        %h3.purchase__inner--user-info-h3 配送先
        .purchase__inner--user-info--adress
          %p 〒#{current_user.adress.postal_code}
          %p #{current_user.adress.prefecture} #{current_user.adress.city} #{current_user.adress.street} #{current_user.adress.building_name}
          %p #{current_user.nickname}
        = link_to "変更する", "#", class: "purchase__inner--a"
    .purchase__inner--buy-user-info
      .purchase__inner--buy-user-info--inner
        %h3.purchase__inner--buy-user-info--inner-h3 支払方法
        %p.purchase__inner--buy-user-info--inner-p ****************
        %p.purchase__inner--buy-user-info--inner-p #{current_user.credit.expiration_month}/#{current_user.credit.expiration_year}
        %figure.purchase__inner--buy-user-info--fig
          = image_tag "visa.svg", class: "purchase__inner--buy-user-info-img"
        = link_to "変更する", "#", class: "purchase__inner--a"

