.container--mypage
  .container--mypage__side
    = render partial: "users/mypage_side"
  .container--mypage__content
    .container--mypage__content__edit
      %h2.container--mypage__content__edit__head 支払い方法
      - if current_user.credit.present?
        .container--mypage__content__edit__identification
          .container--mypage__content__edit__identification__h3
            %h3.container--mypage__content__edit__identification__h3--h3 クレジットカード一覧
            %ul
              %li<
                = image_tag "visa.svg", class: "container--mypage__content__edit__identification__h3__image"
                .container--mypage__content__edit__identification__h3__num
                  = "**************" + @credit_last_num
                .container--mypage__content__edit__identification__h3__num
                  #{@expiration_date}
                = link_to credit_path(current_user.credit.id), method: "delete", class: "container--mypage__content__edit__identification__h3__delete" do
                  削除する
      -else
        .container--mypage__content__edit__identification__form
          = link_to new_credit_path, class: "container--mypage__content__logout__link" do
            クレジットカードを登録する
