.inner__content
  .inner
    %h2.inner__head 商品の情報を入力
    %form.inner__item-form
      .item-form--upload
        %h3.item-form--upload__head
          出品画像
          %span.form-require 必須
        %p.item-form--upload__font 最大10枚までアップロードできます
        %label{for: "input--drop"}
          .dropbox--container
            .dropbox--container__items--container
              .dropbox--container__items--container--items
                %ul
            .dropbox--container__dropbox
              %input.dropbox--container__dropbox__file#input--drop{multiple: "", name: "image1", style: "display: none;", type: "file"}/
              %p.dropbox--container__dropbox__font
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード

      .item-form--content
        .item-form__group
          %label 商品名
          %span.form-require 必須
          .item-form__dev
            %input.item-form__input{placeholder: "商品名（必須 40文字まで)", value: ""}/
        .item-form__group
          %label 商品の説明
          %span.form-require 必須
          %textarea.item-form__textarea{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}
      .item-form--content
        %h3.item-form__sub-head 商品の詳細
        .item-form__box
          .item-form__group
            %label カテゴリー
            %span.form-require 必須
            .item-form__dev
              .item-form__select-wrap
                %select.item-form__select-box
                  %option{value: ""} ---
                = fa_icon "chevron-down", class: "item-form__select-icon"
          .item-form__group
            %label 商品の状態
            %span.form-require 必須
            .item-form__select-wrap
              %select.item-form__select-box
                %option{value: ""} ---
              = fa_icon "chevron-down", class: "item-form__select-icon"
      .item-form--content
        %h3.item-form__sub-head 配送について
        .item-form__box
          .item-form__group
            %label 配送料の負担
            %span.form-require 必須
            .item-form__dev
              .item-form__select-wrap
                %select.item-form__select-box
                  %option{value: ""} ---
                = fa_icon "chevron-down", class: "item-form__select-icon"
          .item-form__group
            %label 発送元の地域
            %span.form-require 必須
            .item-form__dev
              .item-form__select-wrap
                %select.item-form__select-box
                  %option{value: ""} ---
                = fa_icon "chevron-down", class: "item-form__select-icon"
          .item-form__group
            %label 発送までの日数
            %span.form-require 必須
            .item-form__dev
              .item-form__select-wrap
                %select.item-form__select-box
                  %option{value: ""} ---
                = fa_icon "chevron-down", class: "item-form__select-icon"
      .item-form--content
        %h3.item-form__sub-head 販売価格(300〜9,999,999)
        .item-form__box
          %ul
            %li.item-form__group
              .item-form__price-box
                .item-form__price--l
                  %label 価格
                  %span.form-require 必須
                .item-form__price--r
                  ¥
                  .item-form__price--r__input-box
                    %input.item-form__input.item-form--font-right{placeholder: "例）300", value: ""}/
              .item-form__price-box
                .item-form__price--l
                  販売手数料
                .item-form__price--r
                  #{"-"}
              .item-form__price-box
                .item-form__price--l
                  販売利益
                .item-form__price--r
                  #{"-"}
      .item-form__btn-box
        .item-form__btn-box__p
          %p 禁止されている出品、行為を必ずご確認ください。
          またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          また、出品をもちまして加盟店規約に同意したことになります。
        %button.item-form__submit-red.item-form__submit
          出品する
        = link_to "もどる", "#", class: "item-form__submit-gray"

