.item-box__container
  %h1.item-box__h1 #{@item.name}
  .item-box__main-content
    .item-box--l
      .item-box__main-content__img.owl-carousel.owl-theme.owl-carousel--item
        - @item.images.each_with_index do |image, i|
          .item-box__img{"data-hash": "#{i}"}
            = image_tag image.image.url     
      .item-box__main-content__thumbnail
        - @item.images.each_with_index do |image, i|
          = link_to "##{i}" do
            = image_tag image.image.url, class: "item-box__thumbnail"
    %table.item-box__main-content__table
      %tbody
        %tr
          %th 出品者
          %td
            #{@item.user.nickname}
            %div
              .item-box__ratings
                %i.fas.fa-laugh.item-box__ratings-icon-good
                %span 0
              .item-box__ratings
                %i.fas.fa-meh.item-box__ratings-icon-normal
                %span 0
              .item-box__ratings
                %i.fas.fa-frown.item-box__ratings-icon-bad
                %span 0
        %tr
          %th カテゴリー
          %td
            %div #{@item.category.parent.parent.name}
            .item-detail-table-sub-category
              %i.fas.fa-chevron-right
              #{@item.category.parent.name}
            .item-detail-table-sub-sub-category
              %i.fas.fa-chevron-right
              #{@item.category.name}
        %tr
          %th ブランド
          %td
            コーチ
        %tr
          %th 商品の状態
          %td #{@item.condition}
        %tr
          %th 配送料の負担
          %td #{@item.postage}
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            #{@item.ship_from}
        %tr
          %th 発送日の目安
          %td #{@item.days_before_shipment}
  .item-box__price--box
    %span.item-box__price--box__price ¥ #{@item.price}
    %span.item-box__price--box__tax  (税込)
    %span.item-box__price--box-shipping 送料込み
  = link_to new_purchase_path(id: @item.id), class: "item-box__buy--btn" do
    購入画面に進む
  .item-box__description
    %p.item-box__description--p
      #{@item.description}
  .item-box__button
    .item-box__button--l
      = button_tag class: "item-box__button--l__button" do
        = fa_icon "heart-o"
        %span いいね！
        %span 3
      = link_to "#", class: "item-box__button--l__button" do
        %i.far.fa-flag
        %span 不適切な商品の報告
    .item-box__button--r
      %i.fas.fa-lock
      %span あんしん・あんぜんへの取り組み
-if @item.user.id == current_user.id
  .exhibit-user__container
    =link_to edit_item_path, class: "item-box__buy--btn" do
      商品の編集
    %p.exhibit-user--p or
    = button_tag class: "exhibit-user--btn" do
      出品を一旦停止する
    = link_to item_path(@item.id), method: :delete do
      = button_tag class: "exhibit-user--btn" do
        この商品を削除する
        
