.item-box__container
  %h1.item-box__h1 商品名
  .item-box__main-content
    .item-box--l
      .item-box__main-content__img.owl-carousel.owl-theme.owl-carousel--item
        .item-box__img{"data-hash": "zero"}
          = image_tag("item1.jpg")
        .item-box__img{"data-hash": "one"}
          = image_tag("item2.jpg")
        .item-box__img{"data-hash": "two"}
          = image_tag("item3.jpg")
      .item-box__main-content__thumbnail
        = link_to "#zero" do
          = image_tag 'item1.jpg', class: "item-box__thumbnail"
        = link_to "#one" do
          = image_tag 'item2.jpg', class: "item-box__thumbnail"
        = link_to "#two" do
          = image_tag 'item3.jpg', class: "item-box__thumbnail"
    %table.item-box__main-content__table
      %tbody
        %tr
          %th 出品者
          %td
            あーちゃん
            %div
              .item-box__ratings
                %i.fas.fa-laugh.item-box__ratings-icon-good
                %span 271
              .item-box__ratings
                %i.fas.fa-meh.item-box__ratings-icon-normal
                %span 6
              .item-box__ratings
                %i.fas.fa-frown.item-box__ratings-icon-bad
                %span 0
        %tr
          %th カテゴリー
          %td
            %div レディース
            .item-detail-table-sub-category
              %i.fas.fa-chevron-right
              バッグ
            .item-detail-table-sub-sub-category
              %i.fas.fa-chevron-right
              ショルダーバッグ
        %tr
          %th ブランド
          %td
            コーチ
        %tr
          %th 商品の状態
          %td 目立った傷や汚れなし
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            東京都
        %tr
          %th 発送日の目安
          %td 2~3日で発送
  .item-box__price--box
    %span.item-box__price--box__price ¥ 2,000
    %span.item-box__price--box__tax  (税込)
    %span.item-box__price--box-shipping 送料込み
  = link_to new_purchase_path, class: "item-box__buy--btn" do
    購入画面に進む
  .item-box__description
    %p.item-box__description--p
      Rady(レディー) 
      リゾートフラワークッション
      サイズ
      約45cm×約45cm
      部屋に飾っていただけで、クッションや枕としては使用していません。
      傷や汚れはありません( •̤ᴗ•̤ )
  .item-box__button
    .item-box__button--l
      = button_tag class: "item-box__button--l__button" do
        = fa_icon "heart-o"
        %span いいね！
        %span 3
      = link_to "#", class: "item-box__button--l__button" do
        %i.far.fa-flag
        %span 不適切な商品の報告
    .item-box__button--r
      %i.fas.fa-lock
      %span あんしん・あんぜんへの取り組み
      
