!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title CopyMercari
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/


    = javascript_include_tag 'application'

  %body
    - flash.each do |key, value|
      = content_tag :div, value, class: key
  - if controller.controller_name != "sessions" && controller.controller_name != "registrations" && !( controller.controller_name == "items" && controller.action_name != "show" ) && !(controller_name == "purchases")
    = render "shared/header"
  - else
    = render "shared/simple-logo"
  = breadcrumbs separator: " &rsaquo; "
  - breadcrumb :root


  = yield
  = render partial: "layouts/banner" if !(controller.controller_name == "items" && controller.action_name == "new") && !(controller_name == "purchases")
  = render partial: "layouts/footer" 
  = render partial: "layouts/sellbtn" if controller.controller_name == "top" || controller.controller_name == "users"
  
