!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title CopyMercari
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    - flash.each do |key, value|
      = content_tag :div, value, class: key
  - if controller.controller_name != "sessions" && controller.controller_name != "registrations" && !( controller.controller_name == "items" && controller.action_name != "show" ) && !(controller_name == "purchases")
    = render "shared/header"
  - else
    = render "shared/simple-logo"

  = yield
  = render partial: "layouts/banner" if !(controller.controller_name == "items" && controller.action_name == "new") && !(controller_name == "purchases")
  = render partial: "layouts/footer" 
  = render partial: "layouts/sellbtn" if controller.controller_name != "items" && !(controller_name == "purchases")
  
