.devise-content
  - @user_adress.errors.full_messages.each do |e|
    %p #{e}
  %h2 住所入力
  =form_for(@user_adress, url: users_sign_up2_path(@user_adress)) do |f|
    .field
      = f.label :お名前
      %br/
      = f.text_field :first_name, autofocus: true
      %br/
      = f.text_field :last_name
    .field
      = f.label :お名前カナ
      %br/
      = f.text_field :first_name_kana, autofocus: true
      %br/
      = f.text_field :last_name_kana
    .field
      = f.label :生年月日
      %br/
      = f.datetime_select :birthday, start_year: 1900, end_year: Time.now.year, use_month_numbers: "true", include_blank: "true", discard_hour: "true"
    .field
      = f.label :郵便番号
      %br/
      = f.text_field :postal_code
    .field
      = f.label :都道府県
      %br/
      = f.select :prefecture, Adress.prefectures.keys.to_a
    .field
      = f.label :市区町村
      %br/
      = f.text_field :city
    .field
      = f.label :番地
      %br/
      = f.text_field :street
    .field
      = f.label :建物名
      %br/
      = f.text_field :building_name
    .field
      = f.label :電話番号
      %br/
      = f.text_field :tel
    .actions
      =f.submit "次へ進む"
