.devise-content
  %h2 お支払い方法
  - if @credit.errors.full_messages.present?
    - @credit.errors.full_messages.each do |e|
      %p #{e}
  - if @errors.present?
    %p #{@errors}
  = form_for(@credit, url: users_sign_up3_path, method: :post) do |f|
    .field
      = f.label :カード番号
      %br/
      = f.text_field :card_number, placeholder: "半角数字のみ", value: "4242424242424242", autofocus: true
      %br/
      = f.label :有効期限
      %br/
      = f.select :expiration_month, [["01", 01],
      ["02", 2],
      ["03", 3],
      ["04", 4],
      ["05", 5],
      ["06", 6],
      ["07", 7],
      ["08", 8],
      ["09", 9],
      ["10", 10],
      ["11", 11],
      ["12", 12]]
      月
      %br/
      = f.select :expiration_year, [["20", 20] , ["21", 21] , ["22", 22]] 
      年
      %br/
      = f.label :セキュリティコード
      %br/
      = f.text_field :security_code, placeholder: "カード背面４桁もしくは３桁の番号"

    .actions
      =f.submit "次へ進む"
